<div class="container">
  <button class="filtersTogler">
    <span (click)="toggleFilters()">
      <b>
        <i class="fa-solid fa-filter" *ngIf="filtersOpen == 'close'" ></i>
        <i class="fa-solid fa-filter-circle-xmark" *ngIf="filtersOpen == 'open'"></i>
        Filters
      </b>
    </span>
  </button>
  <app-filtering [ngClass]="filtersOpen"></app-filtering>
  <div class="row">
    <div class="col-md-12">
      <div class="section-title text-center">
        <h2>MOVIE COLLECTION</h2>
        <p></p>
      </div>
    </div>
    
    <div #scrollingContainer infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" class="movies" >
      <a *ngFor="let movie of movieService.movies | filtermovie: movieService.startDate: movieService.endDate" >
        <div class="card" [routerLink]="['/app/moviedetails',movie.id]">
          <div class="wrapper">
            <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" class="cover-image" />
          </div>
          <img [src]="'https://image.tmdb.org/t/p/w500' + movie.backdrop_path" class="character" />
        </div>
      </a>   
    </div>
  </div>
</div>