<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h2>WatchList</h2>
          <p> </p>
        </div>
      </div>
<div class="movies">
    <a href="" alt="" target="_blank" *ngFor="let movie of list">
        <div class="card">
          <div class="wrapper">
            <img [src]="'https://image.tmdb.org/t/p/w500'+ movie.poster_path" class="cover-image" />
          </div>
          <img [src]="'https://image.tmdb.org/t/p/w500'+ movie.backdrop_path" class="character" />
        </div>
      </a>
</div>